@use '../abstracts/' as *;

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: fs(500);
  background-color: clr(primary, 1000);
  color: clr(primary, 100);
  position: relative;
}

body::after,
body::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 10%;
  z-index: -1;
}

body::after {
  background: clr(primary, 1000);
  filter: url(#grain);
}
