@use '../abstracts/' as *;

.circle {
  position: absolute;
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(clr(secondary, 400), 0.8);
  filter: blur(9rem);
  z-index: -1;
}

.circle::after {
  content: '';
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: inherit;
  background-color: clr(accent, 400);
}

.circle-top {
  top: 0;
  left: 0;
}
.circle-bottom {
  bottom: 0;
  right: 0;
}

.circle-top::after {
  inset: 125% auto auto 0;
}

.circle-bottom::after {
  inset: auto 0 125% auto;
}
